.boton_contacto,
.boton_nosotros {
    width: 130px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: none;
    transition: all 0.2s ease-in 0s;
    outline: none;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(198deg,#F13300, #F59639
    );
}
.boton_cotizar {
    width: 130px;
    border-radius: 25px;
    color: white;
    border: none;
    cursor: none;
    transition: all 0.2s ease-in 0s;
    outline: none;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background: white;
}
.section_cotizar {
    background: #F13300;
}

